body {
  background-color: #CCC5B9;
}

#content {
	background-color: white;
  /* max-width: 650px; */
	width: 650px;
	margin: 0px auto;
	height: 100%;
	top: 0;
	/* bottom: 0; */
	position: absolute;
	left: 0; 
  right: 0; 
	padding: 20px 5%;
}

#name {
  text-align: center;
}

#hello-world-greeting {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  color: #495057;
}

p {
  text-align:justify
}

section header h1 {
	margin: 0;
  display: inline-block;
}

.time-span {
  float: right;
}

/* Adding side border to the left of each section from Education & Experience */
#education section, #experience section {
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 2px solid #CCC5B9;
}

/* Navigation Bar */
ul {
  list-style-type: none;	/* remove the bullets */
  margin: 0;
  padding: 0;
  background-color: #495057;
}

li {
  display: inline;	/* Create a horizontal navbar */
	border: thin solid white;
}

li a {
	color: #F8F9FA;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
}

li a:hover {
	background-color: #212529;
	color: #F8F9FA;
}

.active-nav-section {
  background-color: #ADB5BD;
	color: #212529;
}

/* Image Gallery */
.image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
	align-items: center;
}

.image-container img {
	max-width: 200px;
	border-radius: 10%;
}

.image-container img:hover {
  border: thick outset rgb(114, 119, 124);
}