body {
  background-color: #CCC5B9;
}

#content {
  background-color: white;
  margin: 0px auto;
  padding: 2.5% 5% 5% 5%;
  width: 650px;
}

#wrapper>h1, #name {
    color: #A9927D;
    font-family: 'Parisienne', cursive;
}

#name {
  color: #9E2A2B;
  font-size: 40px;
  text-align: center;
}

#greeting-container {
  color: #495057;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

p {
  text-align:justify
}

section header h1 {
  display: inline-block;
  margin: 0;
}

.time-span {
  float: right;
  font-style: italic;
}

/* Adding side border to the left of each section from Education, Experience & Projects */
#education section, 
#experience section, 
#projects section {
  border-left: 2px solid #CCC5B9;
  margin-left: 1.5em;
  padding-left: 1em;
}

/* Navigation Bar */
.navbar-list {
  background-color: #495057;
  font-size: 20px;
  list-style-type: none;	/* remove the bullets */
  margin: 0;
  padding: 0;
}

.navbar-list li {
  border: thin solid white;
  display: inline;	/* Create a horizontal navbar */
}

.navbar-list a {
  color: #F8F9FA;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
}

.navbar-list a:hover {
  background-color: #212529;
  color: #F8F9FA;
}

.active-nav-section {
  background-color: #ADB5BD;
  color: #212529;
}

/* Image Gallery */
.image-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.image-container img {
  border-radius: 10%;
  max-width: 200px;
  border: thick solid transparent;
}

.image-container img:hover {
  border: thick outset rgb(114, 119, 124);
}

/* Socials */
.social-button {
  background-color: rgb(238, 235, 229);	
  border: 1px solid #495057;
  border-radius: 5%;
  color:black;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 5px 5px 5px;
  text-decoration: none;
}
