#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

/* Navigation Bar */
ul {
  list-style-type: none;	/* remove the bullets */
  margin: 0;
  padding: 0;
  background-color: #495057;
}

li {
  display: inline;	/* Create a horizontal navbar */
	border: thin solid white;
}

li a {
	color: #F8F9FA;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
}

li a:hover {
	background-color: #212529;
	color: #F8F9FA;
}

.active-nav-section {
  background-color: #ADB5BD;
	color: #212529;
}

/* Image Gallery */
.image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
	align-items: center;
}

.image-container img {
	max-width: 200px;
	border-radius: 10%;
}

.image-container img:hover {
  border: thick outset rgb(114, 119, 124);
}